@model IEnumerable<BugTrackerV2.Models.Ticket>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">All Tickets</h1>
    <br/>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Subject)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Environment)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Priority)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubmitDate)
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                               @Html.DisplayNameFor(model => model.TicketID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Subject)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Environment)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Priority)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubmitDate)
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.ActionLink(item.TicketID.ToString(), "Details", new { id = item.TicketID },  new { @class = "standout-link" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Environment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Priority)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubmitDate)
                                </td>
                            </tr>


                        }
                    </tbody>


                    

                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
