@using BugTrackerV2.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/NoMenuLayout.cshtml";
}

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "user", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", placeholder = "Email Address" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                    <input type="submit" value="Log in" class="btn btn-primary btn-user btn-block" />

                                    @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
                                }

                                <div class="text-center">
                                    @Html.ActionLink("Create an Account!", "Register", "Account", new { @class = "small" })
                                </div>

                                <hr />
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

                                <hr />

                                <div class="text-center">
                                    <h1 class="h5 text-gray-900 mb-4">Demo Mode</h1>
                                </div>
                                @using (Html.BeginForm("DemonstrationLogin", "Account", FormMethod.Post, new { @class = "user", role = "form", ReturnUrl = ViewBag.ReturnUrl }))
                                {@Html.AntiForgeryToken()

                                <div id="demonstrationLoginList">
                                    <button type="submit" class="btn btn-user btn-danger btn-block" id="Admin" name="role" value="Admin" title="Log in using a demo admin account">Admin</button>
                                    <button type="submit" class="btn btn-user btn-primary btn-block" id="Manager" name="role" value="Manager" title="Log in using a demo project manager account">Project Manager</button>
                                    <button type="submit" class="btn btn-user btn-warning btn-block" id="Developer" name="role" value="Developer" title="Log in using a demo developer account">Developer</button>
                                    <button type="submit" class="btn btn-user btn-info btn-block" id="Submitter" name="role" value="Submitter" title="Log in using a demo submitter account">Submitter</button>
                                </div>

                                }
                                <!--
    <div class="text-center">
        <a class="small" href="forgot-password.html">Forgot Password?</a>
    </div>
        -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>